worktrees/
*.zip
LearningPath/02-Functions/ConferenceHub.Functions/bin/
LearningPath/02-Functions/ConferenceHub.Functions/obj/
LearningPath/02-Functions/ConferenceHub.Functions/publish/
resume
**/bin/
**/obj/
*.dll
.zip
