worktrees/
.deploy/
*.zip
LearningPath/02-Functions/ConferenceHub.Functions/bin/
LearningPath/02-Functions/ConferenceHub.Functions/obj/
LearningPath/02-Functions/ConferenceHub.Functions/publish/
LearningPath/04-Cosmos/CosmosMigrator/bin/
LearningPath/04-Cosmos/CosmosMigrator/obj/
**/bin/
**/obj/
*.dll
resume
.zip
